.btn_custom {
  width: 350px;
  height: 75px;
  font-size: 1.5rem;
  color: #424f0c;
  border: 2px solid #424f0c;
  border-radius: 50px;
  transition: all 0.7s;
  &:hover {
    color: white;
    background-color: #424f0c;
    transition: all 0.7s;
  }
  &__sign {
    width: 160px;
    height: 50px;
    font-size: 1rem;
    color: white;
    background-color: #424f0c;
    &:hover {
      background-color: #5a6d10;
      border: 2px solid #5a6d10;
    }
  }
}
