.btn_custom {
  width: 350px;
  height: 75px;
  font-size: 1.5rem;
  color: #424f0c;
  border: 2px solid #424f0c;
  border-radius: 50px;
  transition: all 0.7s;
  &:hover {
    color: white;
    background-color: #424f0c;
    transition: all 0.7s;
  }
  &__sign {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    color: white;
    background-color: #424f0c;
    &:hover {
      background-color: #5a6d10;
      border: 2px solid #5a6d10;
    }
  }
}

.btn_card {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  transition: all 0.7s;
  cursor: pointer;
  &:hover{
    color: #424F0C;
    background-color: white;
    transition: all 0.7s;
  }
}

.btn_form{
  width: 350px;
  height: 50px;
  margin: 10px 0;
  color: white;
  border: 2px solid white;
  font-size: 1.25rem;
  border-radius: 40px;
  &_alt{
    background-color: white;
    color: #637562;
  }

}
