.heading {
  max-width: 605px;
  padding-bottom: 20px;
  font-size: 4rem;
  font-weight: 700;
  color: #637562;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  &_alt {
    font-size: 2rem;
    font-weight: 400;
    line-height: 53px;
    &__white {
      color: white;
    }
  }
  &_full {
    max-width: 100%;
  }
  &_desc {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: justify;
    line-height: 35px;
    letter-spacing: 0.05em;
  }
}

.card_heading {
  padding: 5px 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 35px;
  &__alt {
    font-size: 1.125rem;
    line-height: 18px;
    font-weight: 300;
  }
}

.link {
  font-size: 1.25rem;
  padding: 0 50px;
  color: #637562;
  transition: all 0.7s;
  cursor: pointer;
  &:hover {
    color: #904834;
  }

  &_alt {
    text-align: center;
    color: white;
    padding: 10px 0;
    &:hover {
      color: #637562;
    }
  }
}

.desc_common {
  font-size: 1.5rem;
  text-align: center;
  // letter-spacing: 0.05em;
  font-weight: 400;
  &_green {
    color: #637562;
  }
  &_white {
    color: white;
  }
}
