@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400;700&display=swap');
@import './stylesheets/_navbar', './stylesheets/buttons', './stylesheets/text',
  './stylesheets/card', './stylesheets/_inputs', './stylesheets/loader',
  './stylesheets/profile', './stylesheets/footer';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hanuman', serif;
}

.errorPic {
  max-height: 70vh;
  margin: auto;
}

.layout {
  margin: 70px 0 30px 0;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  &_alt {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}

.image {
  max-height: 477px;
}

.decor {
  width: 100%;
  height: 150px;
  &_alt {
    position: relative;
    top: -120px;
  }
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cover {
  position: relative;
  width: 100%;
  height: 570px;
  max-height: 556px;
  top: -100px;
  z-index: -100;
  &_alt {
    height: 150px;
    top: -190px;
  }
}

::-webkit-scrollbar {
  display: none;
}
